head
    title #{title}
    meta(name="description",content=description)
    meta(name="copyright",content="HazardWorks 2019")
    meta(name="author",content="HazardWorks")
    link(rel="stylesheet",href=cdnBootstrapCss)
    link(rel="stylesheet",href="./assets/css/hazard.css")